.application {
  padding-bottom: 38px;
  border: none;
  background-color: @features-bg-color;
}

.application__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 76px;
  margin-bottom: 2px;
}

.application__legend {
  position: relative;
  top: 35px;
}

.application__label {
  margin-bottom: 45px;
  padding-left: 69px;
}

.application__text {
  font-size: 18px;
  line-height: 30px;
}
