// .contest-form {

// }

.contest-form__title {
  padding: 20px;
  text-align: center;
}

.contest-form__title-visible {
  line-height: 30px;
}

.contest-form__title-invisible {
  display: none;
}

.contest-form__container {
  text-align: center;
}

// .contest-form__button {
// }

.contest-form__legend {
  text-transform: uppercase;
}
