.contacts {
  border: none;
  padding: 20px 18px 5px;

  @media (min-width: @tablet-width) {
    position: relative;
    margin: 66px 20px 0;
    padding: 30px 58px 0;
    border: 2px solid @table-line-color;
    border-radius: 1px;
    order: 2;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    padding-top: 8px;
    margin: 64px 0 0;
    width: 1165px;
  }
}

.contacts__legend {
  display: none;

  @media (min-width: @tablet-width) {
    position: absolute;
    display: inline;
    left: 50%;
    top: -9px;
    padding: 0 31px;
    text-align: center;
    transform: translate(-50%,0);
    background-color: @nav-text-color;
  }

  @media (min-width: @desktop-width) {
    right: 2px;
  }
}

.contacts__item {
  margin-bottom: 19px;

  @media (min-width: @tablet-width) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
  }

  @media (min-width: @desktop-width) {
    width: 375px;
    margin-top: 34px;
    margin-left: 58px;
    margin-bottom: 8px;

    &:nth-child(2n + 1) {
      margin-right: 58px;
    }
  }
}

.contacts__label {
  display: block;
  padding-left: 24px;
  padding-top: 4px;
  padding-bottom: 11px;

  @media (min-width: @tablet-width) {
    display: block;
    padding-left: 19px;
    padding-top: 16px;
    margin: 0;
    text-align: left;
    order: 2;
  }
}

.contacts__input {
  padding-left: 21px;

  @media (min-width: @tablet-width) {
    order: 1;
  }
}

.contacts__icon {
  @media (min-width: @tablet-width) {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 62px;
    height: 63px;
    background-color: @table-line-color;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;

    &--phone {
      background: @table-line-color url("../img/phone-icon.svg") no-repeat center;
    }

    &--email {
      background: @table-line-color url("../img/email-icon.svg") no-repeat center;
    }
  }
}
