.contacts {
  border: none;

  @media (min-width: @tablet-width) {
    order: 2;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 100%;
  }
}

.contacts__legend {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline;
    text-align: center;
  }
}

.contacts__item {
  @media (min-width: @tablet-width) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    width: 376px;
  }
}

.contacts__label {
  @media (min-width: @tablet-width) {
    display: block;
    order: 2;
    margin: 0;
    text-align: left;
  }
}

.contacts__input {
  @media (min-width: @tablet-width) {
    order: 1;
  }
}

.contacts__icon {
  @media (min-width: @tablet-width) {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 62px;
    height: 63px;
    background-color: @table-line-color;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;

    &--phone {
      background: @table-line-color url("../img/phone-icon.svg") no-repeat center;
    }

    &--email {
      background: @table-line-color url("../img/email-icon.svg") no-repeat center;
    }
  }

}
