.developer {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: @tablet-width) {
    justify-content: flex-end;
  }
}

.developer__name {
  padding-right: 10px;
  color: @main-text-color;
}
