.effect {
  display: none;

  @media (min-width: @tablet-width) {
    position: relative;
    display: flex;
    padding-top: 14px;
    padding-bottom: 118px;
    background-color: @nav-text-color;
    z-index: 33;
  }

  @media (min-width: @desktop-width) {
    background-color: @features-bg-color;
    padding-bottom: 111px;
  }
}

.effect__description {
  position: relative;
  padding-top: 52px;
  padding-left: 330px;
  padding-right: 20px;


  @media (min-width: @desktop-width) {
    padding-top: 28px;
    padding-left: 500px;
    padding-right: 130px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 40px;
    left: 20px;
    width: 238px;
    height: 276px;
    background: url("../img/timer-img-tablet.svg") no-repeat center;
    background-size: cover;

    @media (min-width: @desktop-width) {
      top: -37px;
      left: 130px;
      width: 298px;
      height: 345px;
    }
  }
}

.effect__title {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: @title-text-color;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    line-height: 30px;

    &-position {
      padding-left: 8px;
    }
  }
}

.effect__text {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;

  @media (min-width: @desktop-width) {
    margin-top: 25px;
    margin-bottom: 31px;
    font-size: 18px;
    line-height: 30px;
  }
}


.effect__text-br-1 {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline;
  }
}

.effect__text-br-2 {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.effect__link {
  color: @accent-color;
  text-decoration-line: underline;

  &:hover,
  &:focus {
    color: @main-text-color;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
