.features {
  position: relative;
  text-align: center;
  padding-bottom: 20px;
  background-color: @features-bg-color;
}

.features__slogan {
  padding-bottom: 70px;
  background-color: @nav-text-color;

  // @media (min-width: @tablet-width) {
  //   padding-top: 58px;
  // }
}

.features__slogan-text {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
  margin: 0 auto;
  width: 204px;

  &--position {
    padding-top: 31px;
  }

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 55px;
    width: 588px;

    &--position {
      width: 500px;
      padding-top: 0;
    }
  }
}

.features__list {
  margin: 0 auto;
  padding: 0;
  padding-top: 35px;
  padding-bottom: 20px;
  list-style: none;

  @media (min-width: @tablet-width) {
    // width: 310px;
    text-align: left;
    padding-left: 308px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    text-align: center;
    padding-left: 164px;
    padding-right: 164px;
    padding-top: 75px;
    padding-bottom: 42px;
    max-width: 940px;
  }
}

.features__item {
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: @desktop-width) {
    padding-top: 324px;
  }
}

.features__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: @title-text-color;
}

// .features__text {
// }

.features__preview {
  @media (min-width: @tablet-width) {
    position: absolute;
    top: 390px;
    left: 85px;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}
