.features {
  position: relative;
  text-align: center;
  padding-bottom: 20px;
}

.features__slogan {
  padding-bottom: 70px;
}

.features__slogan-text {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
  padding-top: 41px;
  margin: 0 auto;
  width: 204px;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 55px;
    width: 588px;

    &--position {
      padding-top: 31px;
      width: 500px;
    }
  }
}

.features__list {
  margin: 0;
  padding: 0;
  padding-top: 53px;
  padding-bottom: 20px;
  background-color: @features-bg-color;
  list-style: none;

  @media (min-width: @tablet-width) {
    text-align: left;
    padding-left: 308px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    text-align: center;
    padding-left: 0;
    padding-top: 75px;
    padding-bottom: 42px;
  }
}

.features__item {
  margin-left: 20px;
  margin-right: 20px;
}

.features__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

// .features__text {
// }

.features__preview {
  @media (min-width: @tablet-width) {
    position: absolute;
    top: 390px;
    left: 85px;
  }
}
