.form-photo {
  position: relative;
  background-color: @features-bg-color;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: nowrap;
  }
}

// .form-photo__img {
// }

.form-photo__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 42px 20px 20px;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    width: 460px;
  }
}

.form-photo__tools-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    justify-content: center;
  }
}

.form-photo__filter-controls {
  display: flex;
  align-items: center;
  padding-bottom: 39px;

  @media (min-width: @tablet-width) {
    flex-direction: column;
  }
}

.form-photo__filter-toggle {
  padding-right: 35px;
  text-align: center;

  &:last-child {
    padding-right: 0;
  }

  &--crop {
    width: 44px;
    height: 44px;
    background-image: url("../img/crop-icon.svg");
    background-repeat: no-repeat;
  }

  &--fill {
    width: 48px;
    height: 43px;
    background-image: url("../img/fill-icon.svg");
    background-repeat: no-repeat;
  }

  &--contrast {
    width: 32px;
    height: 32px;
    background-image: url("../img/contrast-icon.svg");
    background-repeat: no-repeat;
  }
}

.form-photo__range-controls {
  display: flex;
  flex-direction: column;
  padding-bottom: 73px;
}

.form-photo__range-wrap {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
  }

  &--active {
    display: block;
  }

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.form-photo__button {
  display: block;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  box-sizing: border-box;
  border-radius: 30px;
  margin: 0;
  margin-bottom: 12px;

  &--post {
    padding: 15px 90px;
    color: @accent-color;
    border: 3px solid @accent-color;

    @media (min-width: @desktop-width) {
      padding: 15px 60px;
    }
  }

  &--cancel {
    padding: 15px 103px;
    color: @main-text-color;
    border: 3px solid @main-text-color;
    opacity: 0.1;

    @media (min-width: @desktop-width) {
      padding: 15px 70px;
    }
  }
}
