.form-photo {
  position: relative;
  margin-bottom: 7px;
  padding-bottom: 35px;
  background-color: @features-bg-color;


  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 35px;
  }
}

.form-photo__img {
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 42px;

  @media (min-width: @tablet-width) {
    padding-top: 57px;
    width: 300px;
    height: 400px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 80px;
    padding-bottom: 45px;
  }
}

.form-photo__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 6px;

  @media (min-width: @tablet-width) {
    width: 275px;
    margin-left: 47px;
    margin-bottom: 0;
    padding-top: 47px;
    padding-bottom: 43px;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: 410px;
    padding-top: 47px;
    padding-right: 60px;
    padding-bottom: 45px;
  }
}

.form-photo__controls-wrapper {
  display: flex;
  border-bottom: 1px solid @social-icon-border-color;

  @media (min-width: @tablet-width) {
    margin-top: -5px;
    margin-bottom: 63px;
    border-bottom: none;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    justify-content: center;
  }
}

.form-photo__controls {
  position: relative;
  display: flex;
  width: 240px;
  margin: 0 auto;
  margin-bottom: 2px;
  padding-bottom: 67px;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: @tablet-width) {
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
    justify-content: space-between;
    border-bottom: none;
  }
}

.form-photo__controls-item {
  display: flex;

  @media (min-width: @tablet-width) {
    width: 275px;
    padding: 20px 18px 22px 0;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dddfe0;

    &:last-child {
      padding-top: 17px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 410px;
    padding: 13px 18px 15px 0;

    &:last-child {
      padding-top: 10px;
      border-bottom: none;
    }
  }
}

.form-photo__filter-toggle {
  cursor: pointer;
  text-align: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    width: 28px;
    height: 22px;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    width: 48px;
    height: 44px;
    padding: 0;
  }
}


.form-photo__input-range {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  content: none;
  display: block;

  @media (max-width: @max-mobile-width) {
    order: 1;
  }

  @media (min-width: @tablet-width) {
    width: calc (100% - 48px);
  }

  @media (min-width: @tablet-width) {
    position: relative;
    top: 0;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 240px;
    height: 2px;
    margin: 0 auto;
    background: @main-text-color;

    @media (min-width: @tablet-width) {
      position: relative;
      width: 202px;
      margin: 0;
    }

    @media (min-width: @desktop-width) {
      width: 288px;
      left: -12px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    top: -5px;
    left: 194px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid @accent-color;
    background: @features-bg-color;
    z-index: 10;
    cursor: pointer;

    .form-photo__controls-item:active p& {
      background: @accent-color;
    }

    @media (min-width: @tablet-width) {
      left: 25px;

      .form-photo__controls-item:first-child p& {
        left: 160px;
      }

      .form-photo__controls-item:last-child p& {
        left: 96px;
      }
    }

    @media (min-width: @desktop-width) {
      left: 24px;
      top: -6px;

      .form-photo__controls-item:first-child p& {
        left: 222px;
      }

      .form-photo__controls-item:last-child p& {
        left: 125px;
      }
    }
  }

  .form-photo__filter-toggle--fill ~ &,
  .form-photo__filter-toggle--contrast ~ & {
    @media (max-width: @max-mobile-width) {
      display: none;
    }
  }
}

.form-photo__filter-icon {
  cursor: pointer;

  &:hover {
    color: @filter-icon-hover-color;
  }

  &--active {
    color: @accent-color;
  }

  &--crop {
    @media (min-width: @tablet-width) {
      width: 22px;
      height: 22px;
    }

    @media (min-width: @desktop-width) {
      width: 44px;
      height: 44px;
      color: @accent-color;
    }
  }

  &--fill {
    color: @toggle-button-color;

    @media (min-width: @tablet-width) {
      padding: 0;
      width: 24px;
      height: 22px;
      color: @accent-color;
    }

    @media (min-width: @desktop-width) {
      width: 48px;
      height: 43px;
    }
  }

  &--contrast {
    margin-right: 12px;
    margin-bottom: 4px;
    color: @toggle-button-color;

    @media (min-width: @tablet-width) {
      width: 16px;
      height: 16px;
      margin: 0;
      color: @accent-color;
    }

    @media (min-width: @desktop-width) {
      margin-top: 6px;
      width: 32px;
      height: 32px;
    }
  }


  @media (min-width: @desktop-width) {
    width: 48px;
  }
}

.form-photo__range-controls {
  display: flex;
  flex-direction: column;
  padding-bottom: 73px;
}

.form-photo__range-wrap {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &--active {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.form-photo__range-filter {
  display: none;
}

.form-photo__buttons-wrapper {
  width: 280px;
  margin: 0 auto;
  padding-top: 38px;

  @media (min-width: @tablet-width) {
    width: 260px;
    margin: 0;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.form-photo__button {
  display: block;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  box-sizing: border-box;
  border-radius: 30px;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-right: 10px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }

  &--post {
    width: 100%;
    margin-bottom: 12px;
    padding: 15px 90px 16px 90px;
    color: @accent-color;
    border: 3px solid @accent-color;

    &:hover {
      color: @nav-text-color;
      background: @accent-color;
    }

    &:active {
      color: @button-color-active;
    }

    @media (min-width: @tablet-width) {
      padding: 15px 66px;
      margin-bottom: 25px;
    }

    @media (min-width: @desktop-width) {
      width: 183px;
      padding: 15px 42px;
      margin-bottom: 0;
      margin-right: 44px;
    }
  }

  &--cancel {
    width: 100%;
    margin-bottom: 0;
    padding: 15px 103px 16px 103px;
    color: @main-text-color;
    border: 3px solid @main-text-color;
    opacity: 0.1;

    &:hover {
      opacity: 0.3;
    }

    &:active {
      background: @main-text-color;
      color: @button-color-active;
    }

    @media (min-width: @tablet-width) {
      padding: 15px 66px;
    }

    @media (min-width: @desktop-width) {
      width: 183px;
      padding: 15px 55px;
    }
  }
}
