.input {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  min-height: 63px;
  padding-left: 10px;
  border: 2px solid @table-line-color;
  border-radius: 1px;
  font-size: 18px;
  line-height: 30px;
}

input::placeholder {
  color: @main-text-color;
}
