.map {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 0;
    bottom: auto;
    left: 0;
    right: 0;
    width: 100%;
    height: 33px;
    background: url("../img/bg-triangle-white-map.svg") no-repeat top center;
    background-size: 100% 100%;
    z-index: 20;
  }
}

.map__img {
  width: 100%;
  object-fit: cover;

  @media (min-width: @tablet-width) {
    height: 374px;
  }

  @media (min-width: @desktop-width) {
    height: 502px;
  }
}
