.page-footer {
  margin: 0 auto;
  text-align: center;
}

.page-footer__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 33px;
  padding-bottom: 29px;
  min-height: 100%;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 21px;
    padding-bottom: 31px;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    padding: 20px 0;
  }
}

.page-footer__logo {
  display: block;
  color: @main-text-color;

  &--desktop {
    display: none;
  }

  &:hover {
    color: @accent-color;
  }

  &:active {
    color: @main-text-color;
    opacity: 0.3;
  }

  @media (min-width: @desktop-width) {
    &--mobile {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}
