// .page-main {

// }

.page-main__title {
  background-color: @download-bg-color;
  background-image: url("../img/promo-bg-mobile.png");
  background-position: center 0;
  background-size: 100%, 462px, cover;
  background-repeat: no-repeat;
  text-align: center;
  margin-top: -69px;

  @media (min-width: @tablet-width) {
    margin-top: -110px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 100px;
  }
}

.page-main__text {
  margin-top: 0;
  padding-top: 90px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
  color: @nav-text-color;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    padding-top: 130px;
    padding-bottom: 50px;
    width: 620px;
    font-size: 50px;
    line-height: 68px;
  }

  @media (min-width: @desktop-width) {
    width: 747px;
  }
}
