.page-main__title {
  background-color: @download-bg-color;
  background-image: url("../img/promo-bg-mobile@1x.png");
  background-position: center 0;
  background-size: 100%, 462px, cover;
  background-repeat: no-repeat;
  text-align: center;
  margin-top: -69px;

  @media (min-resolution: 1.5dppx) {
    background-image: url("../img/promo-bg-mobile@2x.png");
  }

  @media (min-width: @tablet-width) {
    margin-top: -110px;
    background-image: url("../img/promo-bg-tablet@1x.png");

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/promo-bg-tablet@2x.png");
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 73px;
    background-image: url("../img/promo-bg-desktop@1x.png");

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/promo-bg-desktop@2x.png");
    }
  }
}

.page-main__text {
  margin-top: 0;
  padding-top: 96px;
  padding-bottom: 44px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  color: @nav-text-color;

  &--catalog {
    padding-bottom: 77px;
  }

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    padding-top: 175px;
    padding-bottom: 60px;
    width: 620px;
    font-size: 50px;
    line-height: 68px;

    &--catalog {
      padding-bottom: 127px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 747px;
    padding-top: 169px;
    padding-bottom: 89px;

    &--catalog {
      width: 655px;
    }
  }
}
