.photo-blog {
  margin-top: 45px;
  background-color: @nav-text-color;

  @media (min-width: @desktop-width) {
    text-align: center;
  }
}

.photo-blog__wrapper {
  margin-bottom: 29px;
  margin-left: auto;
  margin-right: auto;
}

.photo-blog__slogan {
  padding: 0 18px;
  text-align: center;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    padding-top: 46px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 28px;
  }

  @media (min-width: @tablet-width) {
    padding-top: 18px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 40px;
  }
}
