.popup {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 460px;
  background-color: @nav-text-color;
  box-shadow: 0 7px 15px @shadow-popup-color;

  &--success {
    display: none;
  }

  &--error {
    display: none;
  }
}

.popup__container {
  padding: 20px;
  text-align: center;
}

.popup__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: @title-text-color;
}

.popup__text {
  line-height: 24px;
}

.popup__button-wrapper {
  align-items: center;
}
