.post {
  display: grid;
  grid-template-columns: auto 280px auto;
  grid-column-gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    grid-template-columns: auto 300px 300px auto;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: auto 300px 300px 300px auto;
    margin: 0;
  }
}

.post__item {
  // margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  background-color: @features-bg-color;

  // &:nth-child(n + 2) {
  //   grid-column-start: 2;
  //   grid-column-end: 3;
  // }

  @media (max-width: @max-mobile-width) {
    &:nth-child(n + 2) {
      grid-column-start: 2;
      grid-column-end: 3;
    }
  }

  @media (min-width: @tablet-width) and (max-width: @max-tablet-width) {
    &:nth-child(2n + 2) {
      grid-column-start: 2;
      grid-column-end: 3;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 54px;

    &:nth-child(3n + 2) {
      grid-column-start: 2;
      grid-column-end: 3;
    }
  }

  &--panorama {
    // margin-top: 0; //тест
    margin-left: 0;
    margin-right: 0;
    background-color: @nav-text-color;
    grid-column-start: 1;
    grid-column-end: 4;

    @media (min-width: @tablet-width) {
      grid-column-start: 1;
      grid-column-end: 5;
      margin-bottom: 50px;
    }

    @media (min-width: @desktop-width) {
      grid-column-end: 6;
      margin-bottom: 49px;
    }
  }
}

.post__image {
  width: 100%;

  @media (min-width: @tablet-width) {
    height: 300px;
  }

  @media (min-width: @desktop-width) {
    height: 400px;
  }

  &--panorama {
    position: relative;
    left: 0;
    top: 20px;
    object-fit: cover;

    @media (min-width: @tablet-width) {
      height: 509px;
    }

    @media (min-width: @desktop-width) {
      height: 506px;
    }
  }
}

.post__quote {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 11px;
  padding-left: 17px;
  padding-right: 10px;
  padding-bottom: 19px;
  margin: 0;
  text-align: left;
  background-color: @features-bg-color;

  @media (min-width: @tablet-width) {
    padding-top: 16px;
    padding-left: 30px;
    padding-bottom: 25px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 27px;
  }

  &--panorama {
    margin-left: auto;
    margin-right: auto;
    padding-top: 18px;
    margin-top: 13px;

    @media (min-width: @tablet-width) {
      margin-left: auto;
      margin-right: auto;
      padding-top: 23px;
      padding-left: 30px;
      padding-bottom: 15px;
    }

    &::before {
      content: "Панорама дня";
      position: absolute;
      top: -137px;
      right: 0;
      padding-top: 6px;
      width: 140px;
      height: 30px;
      text-align: center;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      color: @nav-text-color;
      background-color: @accent-color;

      @media (min-width: @tablet-width) {
        top: -452px;
      }
    }
  }
}

.post__author {
  font-style: normal;
  font-weight: 700;
}

.post__text {
  margin-top: 0;
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    min-height: 48px;
  }

  // @media (min-width: @desktop-width) {
  //   &--panorama {
  //     height: 100%;
  //   }
  // }

  &--panorama {
    @media (min-width: @desktop-width) {
      min-height: 100%;
    }
    // margin-top: 0;
    // margin-bottom: 10px;
  }
}

.post__text-br--panorama {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.post__time {
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.post__button {
  border: none;
  background-image: url("../img/heart-icon.svg");
  background-repeat: no-repeat;
  width: 13px;
  height: 12px;

  @media (min-width: @tablet-width) {
    justify-content: flex-start;
  }
}

.post__likes {
  padding-left: 18px;
  font-size: 12px;
  color: @accent-color;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding-left: 0;

    &--panorama {
      padding-right: 16px;
    }
  }
}

.post__wrapper-likes {
  display: flex;
  align-items: center;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
  }

  &--panorama {
    display: flex;
    align-items: center;

    @media (min-width: @tablet-width) {
      position: absolute;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      top: 25px;
      right: 30px;
    }
  }
}
