.price {
  position: relative;
  padding-top: 102px;
  padding-bottom: 46px;
  background: @features-bg-color url("../img/bg-triangle-white.svg") no-repeat top center;
  background-size: 100% 4%;
  z-index: 20;

  @media (min-width: @tablet-width) {
    padding-top: 98px;
    padding-bottom: 68px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 157px;
    padding-bottom: 96px;
    background-size: 100% 19%;
  }
}

.price__wrapper {
  position: relative;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.price__table {
  position: relative;
  box-sizing: border-box;
  left: 50%;
  transform: translateX(-50%);
  transition: left 0.4s linear;

  @media (min-width: @tablet-width) {
    transform: none;
    left: 0;
  }
}

.price__toggles {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 39px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.price__input {
  position: absolute;
  bottom: 0;
  opacity: 0;
}

.price__input--one:checked ~ .price__table {
  transform: translateX(278px);
  transition: 0.5s;
}

.price__input--two:checked ~ .price__table {
  transform: translateX(0);
  transition: 0.5s;
}

.price__input--three:checked ~ .price__table {
  transform: translateX(-279px);
  transition: 0.5s;
}

.price__label {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 8px;
  vertical-align: top;
  background-color: @toggle-button-color;
  border-radius: 50%;
}

.price__label--active {
  background-color: @nav-text-color;
  border: 3px solid @main-text-color;
}
