.progress {
  padding-top: 38px;
  padding-bottom: 38px;
  border: none;
  background-color: @features-bg-color;

  @media (min-width: @tablet-width) {
    margin: 56px 20px 0;
    padding-bottom: 44px;
    order: 3;
    background-color: @nav-text-color;
    border: 2px solid @table-line-color;
    border-radius: 1px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    margin-top: 57px;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 8px;
  }
}

.progress__legend {
  position: relative;
  top: 56px;
  padding: 0 24px;
  text-align: center;

  @media (min-width: @tablet-width) {
    top: 1px;
    padding: 0 33px;
  }
}

.progress__list {
  margin: 0 auto;
  padding: 0;
  padding-top: 60px;
  width: 280px;
  list-style: none;

  @media (min-width: @tablet-width) {
    width: 594px;
    padding-top: 10px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 915px;
  }
}

.progress__item {
  position: relative;
  padding-bottom: 52px;

  &:last-child {
    padding-bottom: 9px;
  }

  @media (min-width: @tablet-width) {
    padding-left: 47px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 52px;

    &:nth-child(1) {
      white-space: nowrap;
      order: 1;
    }

    &:nth-child(2) {
      order: 4;
    }

    &:nth-child(3) {
      margin-left: 10px;
      padding-left: 47px;
      order: 2;
    }

    &:nth-child(4) {
      margin-left: 10px;
      padding-left: 47px;
      order: 5;
    }

    &:nth-child(5) {
      order: 3;
    }

    &:nth-child(6) {
      order: 6;
    }
  }
}

// .progress__item::before {
//   position: relative;
//   top: -7px;
//   left: 0;
//   width: 35px;
//   height: 35px;
//   background-color: @nav-text-color;
//   border: 2px solid @table-line-color;
// }

// .progress__input:checked + .progress__item::before {
//   background-image: url("../img/checkbox-checked-icon.svg");
//   background-repeat: no-repeat;
//   background-position: center;
// }

// .progress__input:hover + .progress__icon {
//   border: 2px solid @main-text-color;
// }

// .progress__input:focus + .progress__icon {
//   cursor: pointer;
//   border: 2px solid @table-line-color;
// }

// .progress__input:active + .progress__icon {
//   border: 2px solid @accent-color;
// }

.progress__text {
  padding-left: 59px;

  &::before {
    content: "";
    position: absolute;
    margin: 46px 0;
    top: -50px;
    bottom: 0;
    left: 0;
    right: auto;
    width: 35px;
    height: 35px;
    background-color: @nav-text-color;
    border: 2px solid @table-line-color;
    border-radius: 5px;
    z-index: 10;

    @media (min-width: @tablet-width) {
      left: 47px;
    }
  }
}

.progress__input:checked + .progress__text::before {
  background-image: url("../img/checkbox-checked-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.progress__input:hover + .progress__text::before {
  border: 2px solid @main-text-color;
}

.progress__input:focus + .progress__text::before {
  cursor: pointer;
  border: 2px solid @table-line-color;
}

.progress__input:active + .progress__text::before {
  border: 2px solid @accent-color;
}

.progress__label {
  font-size: 18px;
  line-height: 30px;
}
