.progress {
  padding-top: 38px;
  padding-bottom: 38px;
  border: none;
  background-color: @features-bg-color;

  @media (min-width: @tablet-width) {
    order: 3;
    background-color: @nav-text-color;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.progress__legend {
  position: relative;
  top: 40px;
  text-align: center;
}

.progress__list {
  margin: 0 auto;
  padding: 0;
  padding-top: 25px;
  width: 280px;
  list-style: none;

  @media (min-width: @tablet-width) {
    width: 616px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 936px;
  }
}

.progress__item {
  padding-left: 20px;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    padding-left: 50px;
  }
}

// .progress__input {

// }

.progress__label {
  font-size: 18px;
  line-height: 30px;
}
