.promo {
  position: relative;
  content: "";
  display: block;
  top: -69px;
  text-align: center;
  // background-color: @download-bg-color;
  background-image: url("../img/promo-bg-mobile@1x.png");
  background-position: top;
  background-size: 100%, cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;

  @media (min-resolution: 1.5dppx) {
    background-image: url("../img/promo-bg-mobile@2x.png");
  }

  @media (min-width: @tablet-width) {
    display: flex;
    position: relative;
    flex-direction: column;
    top: -110px;
    min-height: 727px;
    background-image: url("../img/promo-bg-tablet@1x.png");

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/promo-bg-tablet@2x.png");
    }
  }

  @media (min-width: @desktop-width) {
    min-height: 853px;
    background-image: url("../img/promo-bg-desktop@1x.png");

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/promo-bg-desktop@2x.png");
    }
  }
}


.promo__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    margin-left: 20px;
    width: 300px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 130px;
    max-width: 1200px;
  }
}

.promo__title {
  width: 241px;
  margin: 0 auto;
  padding-top: 92px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
  color: @nav-text-color;

  @media (min-width: @tablet-width) {
    padding-top: 202px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 40px;
    line-height: 48px;
    z-index: 2;
  }

  @media (min-width: @desktop-width) {
    padding-top: 209px;
    padding-bottom: 36px;
    font-size: 50px;
    line-height: 68px;
  }
}

.promo__preview {
  position: relative;
  background-position: center;
  margin-bottom: -10px;

  @media (min-width: @tablet-width) {
    position: absolute;
    display: block;
    padding: 0;
    left: -20px;
    bottom: -49px;
    width: 660px;
    height: 545px;
    z-index: 1;
    background-position: center;
  }

  @media (min-width: @desktop-width) {
    left: 16px;
    bottom: -60px;
    width: 1050px;
    height: 645px;
  }
}

.promo__download {
  background-color: @download-bg-color;
  padding: 31px 0 17px 0;
  z-index: 2;

  @media (min-width: @tablet-width) {
    padding-top: 0;
    background: none;
  }

  // @media (min-width: @desktop-width) {
  //   padding-left: 120px;
  // }
}

.promo__button {
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  padding: 15px 36px;
  color: @nav-text-color;
  border: 3px solid @nav-text-color;
  border-radius: 29px;

  &:hover {
    background-color: @nav-text-color;
    color: @accent-color;
    box-shadow: 0 5px 7px @shadow-button-color;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    padding: 16px 45px;
  }

  @media (min-width: @desktop-width) {
    font-size: 21px;
    padding: 16px 28px;
  }
}

// .promo__list {

// }

.promo__text {
  padding: 5px 20px 0 20px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: @nav-text-color;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    padding: 13px 0 20px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 32px;
  }
}
