.reviews {
  position: relative;
  text-align: center;
  // padding-top: 50px;
  padding-bottom: 32px;
  margin-top: -50px;
  background-color: @nav-text-color;

  &::before {
    content: "";
    position: absolute;
    bottom: -88px;
    left: 0;
    width: 100%;
    height: 97px;
    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 2;

    @media (min-width: @tablet-width) {
      bottom: -78px;
      height: 90px;
    }

    @media (min-width: @desktop-width) {
      bottom: -130px;
      height: 130px;
    }
  }

  @media (min-width: @tablet-width) {
    padding-bottom: 10px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 36px;
  }
}

.reviews__wrapper {
  position: relative;
  text-align: center;
}

.reviews__arrow {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    position: absolute;
    top: 212px;
    padding: 0;
    margin: 0;
    width: 22px;
    height: 41px;
    border: none;
    background: none;
    color: @social-icon-border-color;

    &--left {
      top: 263px;
      left: 130px;
    }

    &--right {
      top: 263px;
      right: 130px;
    }

    &:hover {
      color: @main-text-color;
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }
  }
}
