//Colors
@main-text-color: #283645;
@title-text-color: #000000;
@accent-color: #d22856;
@nav-text-color: #ffffff;
@shadow-color: rgba(255, 255, 255, 0.15);
@download-bg-color: #1d2631;
@features-bg-color: #f2f2f2;
@table-line-color: #e5e5e5;
@button-color: #2aad6d;
@shadow-page-color: rgba(0, 1, 1, 0.2);

//Viewports
@mobile-width: 320px;
@tablet-width: 660px;
@desktop-width: 1200px;
